body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffecd1;
}

.logo img {
    width: 100px;
    height: auto;
    font-weight: bold;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #8E4700;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #F07C00;
    font-size: 16px;
}

.btn-comprar {
    background-color: #663300;
    color: #fff;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}