body{
margin: 0;
font-family: Arial, Helvetica, sans-serif;

}

.container {
display: flex;
justify-content: space-between;
padding: 10px;
top: 0;
position: fixed;
}

.logo{
    float: left;
    width: 150px;
    height: auto;
    margin-left: 10px;
    position: absolute;

}

.header-img{
    display: flex;
    width: 100%;
    margin-right: 10px;
    top: 0;
    object-fit: cover;
}